# ********************
# MYSQL
# ********************
MYSQL_USER=admin
MYSQL_PASSWORD=admin
MYSQL_HOST=localhost
MYSQL_PORT=3306

# ********************
# REDIS
# ********************
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=admin

# ********************
# OAUTH2 Clients
# ********************
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=